<%- include('layouts/header') %>


<%- include('layouts/nav') %>


<h1>Ini adalah halaman About</h1>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/images.png" alt="Aldy Rialdy A" class="img-thumbnail rounded-circle" width="100px">
            <h1 class="display-4">Aldy Rialdy A</h1>
            <p class="lead">Lecturer</p>
        </div>
    </div>
</div>


<%- include('layouts/footer') %>
